@import 'carbon-components/scss/globals/scss/colors';
@import 'carbon-components/scss/globals/scss/mixins';
@import 'carbon-components/scss/components/select/_select.scss';

@include exports('customSelect') {

  .infra--custom-select__container{
    & > div {
      display: inline;
    }
    input:checked + .custom-select .custom-select__icon-container {
      box-shadow: inset 0 0 0 2px $brand-02;
      // border-color: #c0e6ff;
      // background-color: #e6f5ff;
    }
  }

  .infra--custom-select {
    width: 12.5rem;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 1rem;

    & + .custom-select {
      margin-left: 1rem;
    }

    &__icon-container {
      width: 3.125rem;
      height: 3.125rem;
      padding: .5rem;
      border-radius: 100%;
      box-shadow: inset 0 0 0 3px $ui-03;
      background-color: $ui-01;
      transition: background-color .2s ease, box-shadow .2s ease;
    }

    &.selected &__icon-container{
      box-shadow: inset 0 0 0 2px $brand-02;
      // border-color: #c0e6ff;
      // background-color: #e6f5ff;
    }

    &__icon {

    }

    &__select-container {
      flex: 1;
      padding: 0 0 .25rem .325rem;
    }

    &__label {
      display: block;
      font-size: .875rem;
      font-weight: 700;
      margin-bottom: .125rem;
      color: $text-02;
    }

    &__select {
      font-family: inherit;
      font-size: .75rem;
      appearance: none;
      display: block;
      width: 100%;
      padding: 0;
      color: $text-03;
      background: none;
      border: $input-border;
      border-radius: 0;
      cursor: pointer;

      // Hide default select arrow in IE10+
      &::-ms-expand {
        display: none;
      }

      &:focus {
        @include focus-outline('border');
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }

  }

}
